MSIGHT_REDIS_MESSAGE_BROKER_USERNAME=msight
MSIGHT_REDIS_MESSAGE_BROKER_PASSWORD=RatOxTigerRabbitDragonSnakeHorseSheep
MSIGHT_REDIS_MESSAGE_BROKER_USE_TLS=true
MSIGHT_REDIS_MESSAGE_BROKER_TLS_CA_CERT_FILE=/usr/local/etc/redis/certs/ca.crt
MSIGHT_EDGE_DEVICE_NAME=testing-device-001
MSIGHT_REDIS_MESSAGE_BROKER_PORT=6380
MSIGHT_PUBSUB_BACKEND=nats
MSIGHT_NATS_USERNAME=msight
MSIGHT_NATS_PASSWORD=RatOxTigerRabbitDragonSnakeHorseSheep
MSIGHT_NATS_USE_TLS=true
MSIGHT_NATS_TLS_CA_CERT_FILE=/usr/local/etc/redis/certs/ca.crt
MSIGHT_NATS_PORT=4222
